@import 'tailwindcss';

input:checked {
	background-color: #3b82f6;
}

input:disabled {
	background-color: #94a3b8;
	cursor: not-allowed;
}

input:checked:before {
	transform: translateX(24px);
}

/* Backdrop blur for modal */
.backdrop-blur {
	backdrop-filter: blur(4px);
}
